.text {
    font-family: "Comfortaa", sans-serif;
    color: black;
}

#body {
    background-image: url("czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm0yMTgtbXludC0wNS1qb2I1OTguanBn.webp");
    background-size: cover;
}

canvas {
    background-color: #ddc6be;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(92, 92, 92);   
}